.menu1{
    float: left;
    width: 20%;
    background-size: auto 100%;
    padding-bottom: 100%;
}

.contenido{
    float: left;
    width: 80%;
    background-color: rgba(156, 134, 134, 0.63);
}

.contenido1{
    float: right;
    width: 80%;
}

.contenido2{
    float: right;
    width: 80%;
}

.contenido3{
    float: right;
    width: 80%;
}

footer {
    float: right;
}

