

#portada{
    position:static; z-index:1; width:100%; height:100%
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    display: block;
}

#casa1{
    width:50%; height:100;
    margin-left: 20%;
}

#villas{
    font-size: 25px;
}

th,td{
    padding: 10px;
}

footer {
    min-height: 5em;
    position: float;
    bottom: 0;
    width: 100%;
}

#bordes{
    width:100%;
    height:100%;
    border-radius:22px;
}
section#FormularioB {
    margin: 0% 0% 5% 31%; 
}

#derecho{
    margin: 0px 55%; 
}
#Terrenoderecho{
    margin: 0px 15%;
}
#dpto{
    margin: 0px 55%;
}
#dptoiz{
    margin: 0px 10%;
}