@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

section article #negocios{
    font: oblique bold 180% cursive;
}


h1 {
    text-align: center;
}

#casa{
    text-align: center;
    font-size: xx-large;
}
#marco{
    text-align: left;
}
#villa{
    font-size: 20px;
}
#descripcion{
    font-family: fantasy;
    font-size: 25px;
}
#depar{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 25px;
}
#local{
    font-family: 'Cinzel', serif;
    font-size: 25px;
}

#arr_letra{
    font-size: 20px;
}

#derecho{
    font-size: 15px;
}

#Terrenoderecho{
    font-size: 20px; 
}

#dpto{
    font-size: 20px; 
}

#dptoiz{
    font-size: 20px;
    /* 
    margin: 0px 10%;
    */
}
#letra{
    font: oblique bold 120% cursive;
    font-size: 25px; 
}
h2{
    font: oblique bold 122% cursive;
}

#sub{
    font: 125% sans-serif;
    color: darkred;
}

.arriendos{
    font-family: 'Righteous', cursive;
    font-size: 25px;
}

time {
    font-weight: bold;
}
#formulario{
    font-weight: bold;
}
.menu{
    background-color: rgb(50, 168, 168);
}
body{
    background-color: #ddd;
}

.menu ul li a{
    color: black;
    padding: 20px 45px;
    text-decoration: none;
}

table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgb(226, 238, 156);
    position:static;
}
th{
    text-align: center;
}
td{
    text-align: center; 
}
th#pie{
    text-align: left;
}

footer {
    border: 2px solid black;
    background: #73e1f5;
}
.pie {
    text-align: center;
}

#bordes{

    border:3px solid brown;
}

table tr th#TablaCasa1{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgb(77, 202, 129);
    position:static;
}

table tr td#TablaCasa1{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgb(156, 208, 238);
    position:static;
}

.textarea{
    border: 2px solid black;
}
.menu a:hover{
    background-color: rgb(0, 110, 255);
    border: 1px solid rgb(2, 68, 248);
}

.menu1{
    background-color:#9EB8C0;
}

.contenido{
   background-color: rgba(165, 159, 159, 0.63);
}
.contenido1{
    background-color: rgba(165, 159, 159, 0.63);
}

.contenido2{
    background-color: rgba(165, 159, 159, 0.63);
}
.contenido3{
    background-color: rgba(165, 159, 159, 0.63);
}
.lateral{
    background-color: #BDFFFA;
}