#propiedades {
    position:static ;width: 65% ; height: 5%;
    float: left;
}
aside#mision{
    width: 35%;
    float: left;
}

h1 {
    text-align: center;
}

h1#casa{
    text-align: center;
    font-size: xx-large;
}

p {
    text-align: justify;
}
dl#casa {
	width: 57%;
	margin: 0px px 0px 20px;
}
p#villa{
    font-size: 25px;
}
dl#arriendo {
	width: 100%;
    margin: 20px px 0px 0px;
}

dd#arr_letra{
    font-size: 20px;
    margin: 0px 55%;
}

dd#derecho{
    font-size: 25px; 
    margin: 0px 55%;
}

h2#letra{
    font: oblique bold 120% cursive;
    font-size: 25px; 
}

h2{
    font: oblique bold 120% cursive;
}

h2#sub{
    font: 150% sans-serif;
    color: darkred;
}