
.menu1{
    float: left;
    width: 15%;
    background-size: auto 100%;
    padding-bottom: 100%;
}

.contenido{
    float: left;
    width: 70%;
}

.contenido1{
    float: right;
    width: 70%;
}

.lateral{
    float: right;
    width: 15%;
    padding-bottom: 30%;
}

.contenido2{
    float: right;
    width: 70%;
    padding: auto;
}


footer {
    width: 100%;
    float: right;
}

.pie {
    text-align: center;
}